* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}




body {
    min-height: 100vh;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}




.calculadora {
    background: #4a5056;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}




.pantalla {
    width: 100%;
    height: 80px;
    border: none;
    background: #ffffff;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    color: #000000;
}




.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}




button {
    min-height: 60px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: #000000;
}




button:hover {
    background: #555555;
}




button.operador {
    background: #87715d;
}




button.operador:hover {
    background: #beab4d;
}




button.igual {
    background: #ffffff;
    grid-column: span 2;
}




button.igual:hover {
    background: #7c7c7c;
}




button.delete {
    background-color: #793414;
}




button.delete:hover {
    background-color: #925f18;
}